nav {
    background-color: #4f669c;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filmsContainer {
    padding-top: 30px;
    background-color: #FFD180;
}